body{
    background-color:#F0FFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:80%;
    text-align:left;

}
.body{
    margin: auto;
    width: 70%;
}
.header{
  background-color:#F08080;
  height: 50px;
  border:1px solid;
  margin: auto;
  width: auto;
}
.header nav{
  height:auto;  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
}
.header nav ul{
list-style:none;
margin:auto;

}
.header nav ul li{
 float:left;
 display:inline;
 margin: 15px 10px;
 font-size: 120%;
}
.content article{
  width: 70%;
  background-color:white;
  padding: 2px 0px 1px 8px;
  
}
.content heading{
  font-size: 18px;
  color:#696969
}
.mainContent aside{
  background-color:#FDF5E6;
  border-radius: 5px;
  height: auto;
  width: 15%;
  
}
