body{
    background-color:#F0FFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:80%;
    text-align:left;

}
.body{
    margin: auto;
    width: 70%;
}
.header{
  background-color:#F08080;
  height: 50px;
  border:1px solid;
  margin: auto;
  width: auto;
}
nav{
  height:auto;
  width: 50px;
  background-color:#FFE4B5;
}
ul{

}
a{
  
}
a:hover{
  color:blue;
}
a:visited{
  color:grey;
}
