/*#Canvas1 {
    position:relative;
    left:400px;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
}
#Canvas1 ~ .canvasImg{
    
    animation: myframe alternate 5s infinte;
    width:100px;
    height:100px;
}
.canvasImg { 
  animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}
    .canvasImg::after {
        position: relative;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: black;
        animation: yAxis 5s infinite;
    }
.canvasImg ~ .canvasImg1{
    animation-delay:1s !important;
}
.canvasImg ~ .canvasImg2{
    animation-delay:2s !important;
}
.canvasImg ~ .canvasImg3{
    animation-delay:3s !important;
}
.canvasImg ~ .canvasImg4{
    animation-delay:4s !important;
}
@keyframes yAxis {
  0%{
    top:0px;
    left:0px;
  }
  25%{
    top:150px;
    left:250px;
  }
  50%{
    top:400px;
    left:100px;
  }
  75%{
    top:80px;
    left:400px;
  }
  100%{
    top:0px;
    left:0px;
  }
}*/
/*@keyframes slide{
    0%{
        top:50px;
        left:250px;
    }
    25%{
        top:250px;
        left:400px;
    }
    50%{
        top:300px;
        left:270px;
    }
    75%{
        top:100px;
        left:50px;
    }
    100%{
        top:50px;
        left:250px;
    }
}
.akvarium {   
    border-radius: 20px;
    max-width:1000px;
    position: relative;
    background-image: url('../Images/akvarium.png');
    z-index:2;
    height:600px;
    border:2em groove black;
  

}


}
#1{
    
  
    top: 50px;
    max-width: 150px;
    min-height: 45px;
    z-index:999;
    animation-delay: -2s!important;
    animation:slide ease-in-out 1s infinite alternate;
}
#2 {
    background: url('../Images/nurseshark.png');

    top: 150px;
   max-width: 150px;
    min-height: 45px;
    animation-delay: -3s!important;
    animation:slide ease-in-out 1s infinite alternate;
     z-index:999;
}
#3 {
    background: url('../Images/stonefish.png');

    top: 250px;
     max-width: 150px;
    min-height: 45px;
    animation-delay: -4s!important;
    animation:slide ease-in-out 1s infinite alternate;
     z-index:999;
#4{
    background: url('../Images/diver.png');
    
    top: 50px;
    max-width: 150px;
    min-height: 45px;
    animation-delay: -1s!important;
    animation:slide ease-in-out 1s infinite alternate;
     z-index:999;
}*/
@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  25%{
      left:650px;
      top:300px;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  75%{
      left:700px;
      top:400px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.canvas {
  background-image: url('../Images/akvarium.png');
  border-radius: 10px;
  border:groove 5px black;
  position: relative;
  max-width: 1000px;
  height:664px;
}
.canvas:hover .img {
  animation: slide 2s ease-in-out .5s infinite alternate;
}
.canvas:active .img {
  animation-play-state: paused;
}
.diver {
    background-image: url('../Images/diver.png');
    height: 200px;
    position: absolute;
    width: 265px;
}
.murray {
 
    background-image: url('../Images/Murray.png');
    height: 162px;
    position: absolute;
    width: 300px;
    animation-delay:1s !important;
}
.fish {
    background-image: url('../Images/stonefish.png');
    height: 200px;
    position: absolute;
    width: 200px;
    animation-delay:2s !important;
}
/*.shark {
    background-image: url('../Images/nurseshark.png');
    height: 200px;
    position: absolute;
    width: 265px;
    animation-delay:3s !important;
}*/