#Canvas1 {
    position:absolute;
    left:400px;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
}

@keyframes myframe{
    0%{
        top:15%;
        left:34%;
    }
    25%{
        top:47%;
        left:80%;
    }
    50%{
        top:60%;
        left:12%;
    }
    75%{
        top:70%;
        left:40%;
    }
    100%{
        top:15%;
        left:34%;
    }
}